@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');
    /*font-family: 'Montserrat', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(66, 66, 66); */
}
li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: rgb(56, 54, 54);
}
.logo{
    cursor: pointer;
    width: 60px; 
    height: 60px;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 1s ease 0s;
}
.mot:hover{
    color: rgb(81, 23, 240);
}
.hai:hover{
    color: rgba(218, 20, 20, 0.911);
}
.ba:hover{
    color: rgb(12, 238, 12);
}
button{
    padding: 9px 25px;
    background-color: rgb(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 1s ease 0s;
}
button:hover{
    background-color: rgba(196, 68, 189, 0.829);
}
.pic{
    width: 100%;
    height:  56.25%;
}
.body{
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1.5%;
    min-height: 200px;
    font-family: 'proxima-nova', 'OpenSans', 'Pridi', 'NotoSans', 'NotoSansSC', 'NotoSansHebrew', 'NotoSansJapanese', 'Hiragino Kaku Gothic Pro', 'Yu Gothic Medium', 'Yu Gothic', Meiryo, 'source-han-sans-japanese', 'source-han-sans-korean', 'source-han-sans-simplified-c', Helvetica, Arial, sans-serif;  

}
.mindx{
    border: 5px solid rgba(40, 224, 65, 0.911);
    width: 32%;
}
.vf{
    border: 5px solid rgb(78, 38, 189);
    width: 32%;
}
.school{
    border: 5px solid rgba(209, 47, 26, 0.897);
    width: 32%;
}
h2{
    display: flex;
    justify-content: center;
    width: 300px;
    padding-top: 33px;
    font-size: 20px;
    float: right;
}
.border1{
    width: 80px;
    height: 80px;
    margin: 4px;
    padding: 1px;
    border: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: rgba(172, 85, 56, 0.87);
}
.border2{
    width: 80px;
    height: 80px; 
    margin: 5px;
    border: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: rgba(128, 123, 123, 0.788);
}
.border3{
    width: 80px;
    height: 80px;
    margin: 4px;
    padding: 1px;
    border: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: #1376c7dc;
}
.in4{
    color: rgba(36, 35, 35, 0.918);
    padding: 5px;
    list-style: none;
}
.v{
    float: left;
    width: 50%;
}
.aa{
    text-decoration: none;
    color: rgba(12, 12, 12, 0.932);
    color: inherit;
    transition: all 0.1s ease 0s;
}
.aa:hover{
    color: rgba(231, 80, 80, 0.904);
}
.footer{
    padding: 28px 20px;
    background-color: #e7e9eb;
    font-family: 'Koh Santepheap', cursive;    
}
.info{
    font-family: 'proxima-nova', 'OpenSans', 'Pridi', 'NotoSans', 'NotoSansSC', 'NotoSansHebrew', 'NotoSansJapanese', 'Hiragino Kaku Gothic Pro', 'Yu Gothic Medium', 'Yu Gothic', Meiryo, 'source-han-sans-japanese', 'source-han-sans-korean', 'source-han-sans-simplified-c', Helvetica, Arial, sans-serif;
    display: flex;
    flex-wrap: nowrap;
}
.fb{
    width: 70px;
    height: 70px;
    border: solid;
    border-width: 1px;
    border-radius: 50%;
}
.kk{
    margin-left: 15px;
}
.one{
    color: rgba(12, 12, 12, 0.932);
}
.one:hover{
    color: rgba(68, 119, 230, 0.986);
}